.login{
    margin-top: 50px;
    margin-left: 100px;
    
}

.user-login{
    width: 220px;
    display: flex;
    flex-direction: column;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-container input{
    height: 30px;
    outline: none;
}

.input-container label{
    font-weight: bold;
    margin-bottom: 5px;
}

.user-login button{
    margin-top: 10px;
    cursor: pointer;
    background-color: rgba(7, 7, 99, 0.87);
    color: white;
    border: none;
    width: 60px;
    padding: 5px 10px;
}
